/**
 * @name Code2
 * @author TheTerrarian03
 * @version 1.0.0
 * @description Code-themed Discord Theme
*/

/* May be useful for on hover over server channel:
   containerDefault_ae2ea4 */

.callContainer__1477d {
    background: #11111b !important;
}

.downloadLink_d6df2d {
    color: #cba6f7 !important;
}

.arrow__46445.left__504e1 {
    color: #cba6f7;
}

.arrow__46445.right__5eefd {
    color: #cba6f7;
}

/* Side bar */




/* ???? */
.optionLabel_a33d86 {
    font-size: 12.25px;
}

/* ???? */
.input__745d4 {
    font-size: 12.25px !important;
}

/* Mute, Defean, Settings buttons? */
/* Plus, Gif, emoji, etc buttons? */
.contents__322f4 {
    font-size: 13.5px;
}


/* ???? */
.option__91497 {
    font-size: 12.25px;
}

/* Top bar */

/* Groupchat Member List */

/* Name of member */

/* ----- Color Changes ----- */
/* Darkest Color - #11111b */
/* .typeMacOS_cacc59, */
/* .macDragRegion__919b5, */
/* .base_c0676e, */
/* .container_debb33, */
/* .searchHeader__4d70e, */

/* .container__26baa, */
/* .title_d4ba1a, */
/* .container_f41675, */
/* .reaction__4a43f, */
/* .scroller_de945b  */
{
    background-color: #11111b !important;
}

/* Second-darkest Color - #181825 */
/* .scroller__89969, */
/* .scroller__1f498, */
/* .scroller__5f036, */
/* .replyBar_ed6afc, */
/* .members__573eb, */
/* .member_aa4760, */
/* .container_f79ab4, */
/* .scroller__7c25e,
.containerDefault_ae2ea4 */
{
    background-color: #181825 !important;
}

.member_aa4760:hover {
    background-color: #2a2b3c !important;
}

/* Lightest Color - #1e1e2e */
/* .peopleColumn__0c784, */
/* .scroller_e412fe, */
/* .form_d8a4a1, */
.clipContainer_ab9cf6
/* .searchResult__00093 */
{
    background-color: #1e1e2e;
}

/* Selected DM/Groupchat */
.scrollableContainer_ff917f,  /* Message box */
.interactiveSelected__689f0 {
    background-color: #2a2b3c;
    color: #cba6f7;
}

.iconWrapper__8795c {
    background-color: #181825;
    border-style: solid;
    border-width: 1px;
    border-color: #cba6f7;
}

.container__17159 {
    background-color: #181825;
    border-color: #cba6f7;
    border-style: solid;
    border-width: 1px;
}

/* .embedWrapper__47b23 {
    background-color: #181825;
} */

/* .embedWrapper__47b23, */
/* .gridContainer_e31d85, */
.attachment__06ca3 {
    background-color: #181825;
    border-color: #cba6f7;
    border-style: solid;
    border-width: 1px;
}

.divider_d6f39c.divider__126d2,
.divider_d6f39c.divider_f0c60d,
.separator__174fc {
    background-color: #313244;
}

.resizeHandle_cc9d34 {
    width: 1px;
    color: #313244;
    background-color: #313244;
}

.message_ccca67.replying__38514 {
    background-color: #ced7f412;
}

.replying__38514:before {
    background: #f38ba8;
}

.divider__01aed {
    background-color: #f38ba8;
}
.content__7191e {
    background-color: #2a2b3c;
    color: #f38ba8;
}

.text-md-normal__6e567 {
    color: #f38ba8 !important;
}

.roundButton_a01f15.pageButton_bf9853:hover {
    background-color: #c7a3f3;
    color: #000000;
}

.roundButton_a01f15.pageButton_bf9853.activeButton__70b70 {
     background-color: #f38ba8;
     color: #000000;
}

.item__48dda.themed_b957e8:hover {
    background-color: #c7a3f3 !important;
    color: #000000;
}

.item__48dda.selected_a523ff.themed_b957e8 {
    background-color: #f38ba8 !important;
    color: #000000;
}

.endButton__45c13:hover {
    background-color: #f38ba8;
    color: #000000;
}

.button_ef08e7 {
    background-color: #181825;
}

.button_ef08e7:hover {
    color: #f38ba8;
    border: 1px solid #f38ba8;
}

/* Search boxes */
.searchBar__310d8,
.searchBarComponent__8f95f,
.searchBar__5a20a {
    background-color: #1e1e2e !important;
    color: #6c7086 !important;
    border: 1px solid #313244;
}

.itemCard_b64118 {
    background-color: #181825;
    border: 1px solid #313244;
}

.itemCard_b64118:hover {
    border: 1px solid #c7a3f3;
}

.section__253ec {
    background-color: #1e1e2e;
}

.section__253ec:hover {
    background-color: #2a2c3c;
}

.scroller__7c25e {
    margin-left: 0px;
    border-left: 1px solid #313244;
}

.peopleColumn__0c784 {
    border-right: 0px /* solid #313244 */;
}
